.container{
    display: flex;
    flex-wrap: wrap;
}
.box{
    width: 400px;
    height: 200px;
}
.box1{
    background-color: red;
}
.box2{
    background-color: green;
}
.box3{
    background-color: blue;
}
.box4{
    background-color: yellow;
    
}
.box5{
    background-color: rebeccapurple;
}
.box6{
    background-color: palevioletred;
}
@media screen and (max-width:480px){
    .box{
        width: 100%;
    }
}

@media screen and (min-width:480px) and (max-width:720px){
    .box1, .box6{
        width: 100%;
    }
    .box2, .box3, .box4, .box5{
        width: 50%;

    }
}

